<a href="https://colab.research.google.com/github/mdanisw/bootcamp-training/blob/main/Demo_Code_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 0
while (x<10):
  print ("ini adalah iterasi ke_",x)
  x+=1

ini adalah iterasi ke_ 0
ini adalah iterasi ke_ 1
ini adalah iterasi ke_ 2
ini adalah iterasi ke_ 3
ini adalah iterasi ke_ 4
ini adalah iterasi ke_ 5
ini adalah iterasi ke_ 6
ini adalah iterasi ke_ 7
ini adalah iterasi ke_ 8
ini adalah iterasi ke_ 9

In [3]:
x = 0
while (x<=10):
  print ("ini adalah iterasi ke_",x)
  x+=1

ini adalah iterasi ke_ 0
ini adalah iterasi ke_ 1
ini adalah iterasi ke_ 2
ini adalah iterasi ke_ 3
ini adalah iterasi ke_ 4
ini adalah iterasi ke_ 5
ini adalah iterasi ke_ 6
ini adalah iterasi ke_ 7
ini adalah iterasi ke_ 8
ini adalah iterasi ke_ 9
ini adalah iterasi ke_ 10

In [ ]:
x = 0
while (x<=10):
  print ("ini adalah iterasi ke_",x)

In [6]:
i = 1
m = 2

while i<=5 and m<=5:
  print(i)
  i+=1
  m+=1

1
2
3
4

In [7]:
i = 1
m = 2

while i<=5 or m<=5:
  print(i)
  i+=1
  m+=1

1
2
3
4
5

In [8]:
for x in range(1,9):
  print(x)

1
2
3
4
5
6
7
8

In [9]:
for x in range(5,9):
  print(x)

5
6
7
8

In [10]:
for x in range(1,9,2):
  print(x)

1
3
5
7

In [12]:
n = 3
for i in range (1,11):
  x = n*i
  print(x)

3
6
9
12
15
18
21
24
27
30

In [13]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [14]:
a = [1, 5, 9, 12, 15]

for x in a:
  print(x)

1
5
9
12
15

In [18]:
for x in range(0,6,2):
  if x == 3:
    break
  else:
      print(x)

0
2
4

In [21]:
for x in range(0,6):
  if x == 3:
    continue
  else:
      print(x)

0
1
2
4
5

In [22]:
for x in range (0,6):
  pass

In [23]:
for x in "banana":

  for y in range(6):
    print(x, end=" ")

  print("")

print("end of code")

b b b b b b
a a a a a a
n n n n n n
a a a a a a
n n n n n n
a a a a a a
end of code

In [24]:
for x in range(1,6):
  i = 0
  while i<=5:
    print(x, end=" ")
    i = i+1
  print("")

print("end of code")

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
end of code

In [35]:
for x in range(1,6):

  for y in range(1,5):
    if y == 3:
      break
    else:
      print(x,end=" ")
  print("")
print("end of code")

1 1
2 2
3 3
4 4
5 5
end of code

In [34]:
for x in range(1,6):
  if x==3:
    break

  for y in range(1,5):
      print(x,end=" ")

  print("")

print("end of code")

1 1 1 1
2 2 2 2
end of code

In [10]:
for x in range(1,6):
  for y in range(1,6):
      print("*",end=" ")
  print("")
print("end of code")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
end of code

In [13]:
lastNumber = int(input("put a number: "))

for x in range(1, lastNumber+1):
  for y in range(1, lastNumber+1):
    print(y, end=" ")
  print("")

put a number: 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10