<a href="https://colab.research.google.com/github/mdanisw/bootcamp-training/blob/main/Demo_Code_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_msg():
  print("Hello World")
  print("baris pertama")
  print("baris kedua")

In [ ]:
print_msg()

Hello World
baris pertama
baris kedua

In [ ]:
def print_msg(input_user):
  print("Input berikut adalah dari user: ",input_user)

In [ ]:
var1="Hallo Python"
print_msg(var1)

Input berikut adalah dari user:  Hallo Python

In [ ]:
def print_msg(var1, var2, var3):
  print("ini adalah variable pertama:", var1)
  print("ini adalah variable kedua:", var2)
  print("ini adalah variable ketiga:", var3)

In [ ]:
kata1="python"
kata2="functional programming"
kata3="Digital Skola"

print_msg(kata1, kata2, kata3)

ini adalah variable pertama: python
ini adalah variable kedua: functional programming
ini adalah variable ketiga: Digital Skola

In [ ]:
def jumlah(a, b):
  c=a+b
  print("Hasil penjumlahan dari,",a," dengan ",b,"adalah",c)

In [ ]:
jumlah(5,7)

Hasil penjumlahan dari, 5  dengan  7 adalah 12

In [ ]:
def print_mahasiswa(*mhs):
  print("Ini adalah mahasiswa pertama:", mhs[0])

In [ ]:
print_mahasiswa("bayu", "andi", "evan", "eri")

Ini adalah mahasiswa pertama: bayu

In [ ]:
def print_mahasiswa(*mhs):
  for i in mhs:
    print("Ini adalah mahasiswa", i)

In [ ]:
print_mahasiswa("bayu", "andi", "evan", "eri")

Ini adalah mahasiswa bayu
Ini adalah mahasiswa andi
Ini adalah mahasiswa evan
Ini adalah mahasiswa eri

In [ ]:
def print_msg(nama, alamat, jurusan):
  print("ini adalah variable nama:", nama)
  print("ini adalah variable alamat:", alamat)
  print("ini adalah variable jurusan:", jurusan)

In [ ]:
print_msg(nama="aries", alamat="bogor", jurusan="ilmu komputer")

ini adalah variable nama: aries
ini adalah variable alamat: bogor
ini adalah variable jurusan: ilmu komputer

In [ ]:
def data_mahasiswa(**data):
  print("nama adalah:", data['nama'])
  print("alamat", data['alamat'])
  print("jurusan", data['jurusan'])

In [ ]:
data_mahasiswa(alamat="Bogor", jurusan="Ilmu Komputer", nama="Aries")

nama adalah: Aries
alamat Bogor
jurusan Ilmu Komputer

In [ ]:
def jurusan_mhs(nama, jurusan="Teknik Mesin"):
  print("jurusan mahasiswa adalah", jurusan)
  print("nama mahasiswa adalah", nama)

In [ ]:
jurusan_mhs("Aries")

jurusan mahasiswa adalah Teknik Mesin
nama mahasiswa adalah Aries

In [ ]:
jurusan_mhs("Aries", "Ilmu Komputer")

jurusan mahasiswa adalah Ilmu Komputer
nama mahasiswa adalah Aries

In [ ]:
def print_matakuliah(mk):
  for x in mk:
    print("mata kuliahnya adalah", x)

mk_input =["Pemrograman", "Kalkulus", "Ilmu Ekonomi"]
print_matakuliah(mk_input)

mata kuliahnya adalah Pemrograman
mata kuliahnya adalah Kalkulus
mata kuliahnya adalah Ilmu Ekonomi

In [ ]:
def get_addition(a, b):
  c = a=b
  return c

In [ ]:
var1 = 10
var2 = 15
var3 = get_addition(var1, var2)

In [ ]:
print("hasil penjumlahan", var3)

hasil penjumlahan 15

In [ ]:
def get_calculation(a, b):
  c = a+b
  d = a-b
  e = a*b
  f = a/b
  return c,d,e,f

In [ ]:
var1 =10
var2 =12

jumlah, kurang, kali, bagi=get_calculation(var1, var2)

In [ ]:
print("penjumlahannya", jumlah)
print("penguranganya", kurang)
print("perkaliannya", kali)
print("penmbaginya", bagi)

penjumlahannya 22
penguranganya -2
perkaliannya 120
penmbaginya 0.8333333333333334

In [ ]:
def myMHS():
  nama_mhs = "Arief"
  print(nama_mhs)

In [ ]:
myMHS()

Arief

In [ ]:
def myMHS_global():
  global nama_mhs2
  nama_mhs2 = "Arief"
  print(nama_mhs2)

In [ ]:
myMHS_global()

Arief

In [ ]:
print(nama_mhs2)

Arief

In [ ]:
#GLoabal Variable
nama_mhs3 = "Yudhi"

def myMHS3():

  print(nama_mhs3)

  myMHS3()

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import math

a = math.pow(10, 3)
print(a)

1000.0

In [ ]:
b = [1,2,3,4,5]
c = math.fsum(b)
print(c)

15.0

In [ ]:
string1 = "Hello World"
print(string1)

Hello World

In [ ]:
string2 = string1.replace("World", "Universe")
print(string2)

Hello Universe

In [ ]:
string1 = "Aries"
string2 = "Digital Skola"
string3 = string1 + string2

print(string3)

AriesDigital Skola

In [ ]:
string4 = " ".join([string1, string2])
print(string4)

Aries Digital Skola

In [1]:
kalimat = "Hari merdeka Republik Indonesia 17 Agustus 1954"

kata = kalimat.split()

print(kata)

['Hari', 'merdeka', 'Republik', 'Indonesia', '17', 'Agustus', '1954']

In [2]:
for i in kata:
  print(i)

Hari
merdeka
Republik
Indonesia
17
Agustus
1954

In [4]:
string1 = "Digital Skola"

print(len(string1))

13

In [5]:
harga = 1000
txt = "harga produk A adalah {} rupiah"

print(txt.format(harga))

harga produk A adalah 1000 rupiah

In [6]:
harga = 1000
ppn = 10
total = harga + (harga*(ppn/100))

txt = "harga produk A adalah {0} rupiah, ppn {1}%, total harga menjadi {2}"

print(txt.format(harga, ppn, total))

harga produk A adalah 1000 rupiah, ppn 10%, total harga menjadi 1100.0

In [7]:
txt = "harga produk A adalah {2} rupiah, ppn {0}%, total harga menjadi {1}"

print(txt.format(harga, ppn, total))

harga produk A adalah 1100.0 rupiah, ppn 1000%, total harga menjadi 10

In [8]:
txt = "harga produk A adalah {2} rupiah, ppn {0}%, total harga menjadi {1}"

print(txt.format(ppn, total, harga))

harga produk A adalah 1000 rupiah, ppn 10%, total harga menjadi 1100.0